<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commandes</title>
</head>
<body>
    <header>
        <a href="commands">Commandes</a>
        <a href="products">Produits</a>
    </header>
    <ul>
        <li th:each="command : ${commands}">
            <p th:text="${command.getId_commande()}"></p>
            <p th:text="${command.getNom_commande()}"></p>
            <p th:text="${command.getPrenom_commande()}"></p>
            <p th:text="${command.getTelephone_commande()}"></p>
            <p th:text="${command.getPrix_total_commande()}"></p>
            <p th:text="${command.getDate_commande()}"></p>
            <ul>
                <li>

                </li>
            </ul>
        </li>
    </ul>



</body>
</html>