<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commandes</title>
</head>
<body>
    <header>
        <a href="commands">Commandes</a>
        <a href="products">Produits</a>
    </header>

    <ul>
        <li th:each="command : ${commands}">
            <p th:text="${command.getCommand().getId_commande()}"></p>
            <p th:text="${command.command.getDate_commande()}"></p>
            <p th:text="${command.command.getNom_commande()}"></p>
            <p th:text="${command.command.getPrenom_commande()}"></p>
            <p th:text="${command.command.getTelephone_commande()}"></p>
            <p th:text="${command.command.getPrix_total_commande()}"></p>
            <p th:text="${command.product.getNomProduit()}"></p>
            <p th:text="${command.productCommand.getQuantite()}"></p>
        </li>
    </ul>



</body>
</html>