<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/products.css" />
    <title>Produits</title>
</head>
<body>

    <header>
        <h1 class="fruitshop">FruitShop</h1>
        <div class="navigation-container">
            <a href="commands" class="navigation">Commandes</a>
            <a href="products" class="navigation">Produits</a>
        </div>
    </header>

    <div class="tout">
        <div class="fieldset">
            <legend>Ajouter un nouveau produit</legend>
            <form th:action="@{/addProduct}" th:object="${product}" method="post">
                <input type="text" th:field="*{nomProduit}" placeholder="Nom du produit" class="inputNewProduit" required>
                <input type="text" th:field="*{prix_produit}" placeholder="Prix du produit" class="inputNewProduit" required>
                <input type="text" th:field="*{image_produit}" placeholder="Image du produit" class="inputNewProduit">
                <input type="submit" value="Ajouter" id="btnAjouter">

            </form>
        </div>

        <ul>
            <li th:each="product : ${products}">
                <p th:text="${product.getId_produit()}"></p>
                <p th:text="${product.getNomProduit()}" class="nomproduit"></p>
                <p th:text="${product.getPrix_produit() + '€'}"></p>
                <p th:text="${product.getImage_produit()}"></p>
                <a th:href="@{'/deleteProduct/' + ${product.getId_produit()}}" class="lien">Supprimer</a>
            </li>
        </ul>
    </div>
</body>
</html>

