<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
</head>
<body>

    <header>
        <a href="commands">Commandes</a>
        <a href="products">Produits</a>
    </header>

    <fieldset>
        <legend>Ajouter un produit</legend>
        <form th:action="@{/addProduct}" th:object="${product}" method="post">
            <input type="text" th:field="*{nomProduit}" placeholder="Nom du produit" required>
            <input type="text" th:field="*{prix_produit}" placeholder="Prix du produit" required>
            <input type="text" th:field="*{image_produit}" placeholder="Image du produit">
            <input type="submit" value="Ajouter">
        </form>
    </fieldset>

    <ul>
        <li th:each="product : ${products}">
            <p th:text="${product.getId_produit()}"></p>
            <p th:text="${product.getNomProduit()}"></p>
            <p th:text="${product.getPrix_produit() + '€'}"></p>
            <p th:text="${product.getImage_produit()}"></p>
            <button>Valider</button>
            <button>Supprimer</button>
        </li>
    </ul>

</body>
</html>

